<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
  table {
    width: 1000px;
    border: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #444444;
  }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p><a href="/SearchMain">이전 화면으로 돌아가기</a></p>
    <table>
        <thead>
            <tr>
                <th>순번</th>
                <th>카테고리</th>
                <th>카테고리명</th>
                <th>누적 페이지뷰</th>
                <th>누적 광고수입</th>
                <th>누적 광고 클릭 횟수</th>
                <th>클릭 당 수익</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="summary : ${summaryModel}">
                <td th:text="${summary.postNumber}" style="text-align: center;"></td>
                <td th:text="${summary.category}"></td>
                <td th:text="${summary.categoryName}"></td>
                <td th:text="${summary.totalPageViews}"></td>
                <td th:text="${summary.totalAdsenseRevenue}"></td>
                <td th:text="${summary.totalAdsenseAdsClicks}"></td>
                <td th:text="${summary.clickPerRevenue}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>