<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<script type="text/javascript">
    window.onload = function() {
        var fromDate = new Date();
        var toDate = new Date();

        fromDate.setDate(fromDate.getDate()-8);
        toDate.setDate(toDate.getDate()-1);

        document.getElementById('fromDate').valueAsDate = fromDate;
        document.getElementById('toDate').valueAsDate = toDate;
    }

    function date1daySetting() {
        var fromDate = new Date();
        var toDate = new Date();

        fromDate.setDate(fromDate.getDate()-2);
        toDate.setDate(toDate.getDate()-1);

        document.getElementById('fromDate').valueAsDate = fromDate;
        document.getElementById('toDate').valueAsDate = toDate;
    }

    function date7daySetting() {
        var fromDate = new Date();
        var toDate = new Date();

        fromDate.setDate(fromDate.getDate()-8);
        toDate.setDate(toDate.getDate()-1);

        document.getElementById('fromDate').valueAsDate = fromDate;
        document.getElementById('toDate').valueAsDate = toDate;
    }

    function date30daySetting() {
        var fromDate = new Date();
        var toDate = new Date();

        fromDate.setDate(fromDate.getDate()-31);
        toDate.setDate(toDate.getDate()-1);

        document.getElementById('fromDate').valueAsDate = fromDate;
        document.getElementById('toDate').valueAsDate = toDate;
    }

    function summaryBasePageViews() {
        var fromDate = document.getElementById("fromDate").value;
        var toDate = document.getElementById("toDate").value;

        location.href = "/search/searchBlogSummaryBasePageViews?" + "fromDate=" + fromDate + "&toDate=" + toDate;
    }

</script>
<head>
    <meta charset="UTF-8">
    <title>Analytics Report</title>

    <form action="/connect" method="post">
        <input type="text" id="viewId" name="viewId">
        <button type="submit">VIEW ID 변경</button>
    </form><br>

    <span>조회용 날짜 설정</span><br>
    <button onclick="date1daySetting()">조회간격 1일 세팅</button>
    <button onclick="date7daySetting()">조회간격 7일 세팅</button>
    <button onclick="date30daySetting()">조회간격 30일 세팅</button><br>
    <input type="date" id="fromDate"> ~
    <input type="date" id="toDate"><br><br>

    <a onclick="summaryBasePageViews()">7일간 게시물별 Pageview 조회(조회수 기준)</a><br>
    <a href="/search/searchBlogSummaryBaseRevenue">7일간 게시물별 Pageview 조회(수익 기준)</a><br>
    <a href="/search/searchBlogSummaryBaseRevenue">신규 게시물 순 조회 (게시물별 pageview 조회한 뒤에 합쳐서 만들어야 할듯..)</a><br>
    <a href="/search/searchBlogSummaryCategory">카테고리별 수익 조회</a><br>

</head>
<body>

</body>
</html>