<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics Report</title>

    <form action="/connect" method="post">
        <input type="text" id="viewId" name="viewId">
        <button type="submit">VIEW ID 변경</button>
    </form><br>

    <a href="/search/searchBlogSummaryBasePageViews">7일간 게시물별 Pageview 조회(조회수 기준)</a><br>
    <a href="/search/searchBlogSummaryBaseRevenue">7일간 게시물별 Pageview 조회(수익 기준)</a><br>
    <a href="/search/searchBlogSummaryBaseRevenue">신규 게시물 순 조회 (게시물별 pageview 조회한 뒤에 합쳐서 만들어야 할듯..)</a><br>
    <a href="/search/searchBlogSummaryCategory">카테고리별 수익 조회</a><br>

</head>
<body>

</body>
</html>